@import 'tailwindcss';
@import 'primeicons/primeicons.css';

#app {
  overflow: hidden;
}

.p-inputtext.p-component.p-password-input {
  width: 100% !important;
}

.slide-fade-right-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-right-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-right-enter-from,
.slide-fade-right-leave-to {
  transform: translateX(200px);
  opacity: 0;
}

.slide-fade-left-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-left-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-left-enter-from,
.slide-fade-left-leave-to {
  transform: translateX(-200px);
  opacity: 0;
}

/* /////////////// TAILWINDCSS /////////////// */
@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .border-only-left {
    @apply border-solid border-l border-r-0 border-t-0 border-b-0;
  }
  .border-only-right {
    @apply border-solid border-r border-l-0 border-t-0 border-b-0;
  }
  .border-only-bottom {
    @apply border-solid border-b border-l-0 border-r-0 border-t-0;
  }
  .border-only-top {
    @apply border-solid border-t border-l-0 border-r-0 border-b-0;
  }
}
/* /////////////// END TAILWINDCSS /////////////// */
